In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import joblib  
import numpy as np
data = pd.read_csv("../data/project.csv")
data.dropna(subset=["guests", "total_staff_level"], inplace=True)

X = data[["sales"]]
y = data["total_staff_level"]

model = LinearRegression()
model.fit(X, y)

joblib.dump(model, "staff.pkl")

['staff.pkl']

In [10]:
data.head()

,Unnamed: 0.1,date,weekday,is_festival,guests,sales,assigned_staff,total_staff_level,staff_count,sale_per_guest,staff_per_guest,level_per_staff,month,season,Unnamed: 0,weather_code,temperature,snowfall_sum,rain_sum
0,0,2000-01-01,Saturday,0,245,293932,"['Eve', 'Ivy', 'Mia', 'Quinn', 'Bob']",22,5,1199.722449,0.020408,4.400000,1,winter,5640.0,2.0,3.9,0.0,0.0
1,1,2000-01-02,Sunday,0,260,311917,"['Eve', 'Ivy', 'Mia', 'Quinn', 'Charlie']",23,5,1199.680769,0.019231,4.600000,1,winter,5641.0,3.0,5.0,0.0,0.0
2,2,2000-01-03,Monday,0,163,195608,"['Eve', 'Ivy', 'David']",14,3,1200.049080,0.018405,4.666667,1,winter,5642.0,1.0,6.7,0.0,0.0
3,3,2000-01-04,Tuesday,0,166,199243,"['Eve', 'Ivy', 'David']",14,3,1200.259036,0.018072,4.666667,1,winter,5643.0,0.0,5.2,0.0,0.0
4,4,2000-01-05,Wednesday,0,148,177537,"['Eve', 'Ivy', 'Charlie']",13,3,1199.574324,0.020270,4.333333,1,winter,5644.0,3.0,7.5,0.0,0.0

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9303 entries, 0 to 9302
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0.1       9303 non-null   int64
 1   date               9303 non-null   object
 2   weekday            9303 non-null   object
 3   is_festival        9303 non-null   int64
 4   guests             9303 non-null   int64
 5   sales              9303 non-null   int64
 6   assigned_staff     9303 non-null   object
 7   total_staff_level  9303 non-null   int64
 8   staff_count        9303 non-null   int64
 9   sale_per_guest     9303 non-null   float64
 10  staff_per_guest    9303 non-null   float64
 11  level_per_staff    9303 non-null   float64
 12  month              9303 non-null   int64
 13  season             9303 non-null   object
 14  Unnamed: 0         9293 non-null   float64
 15  weather_code       9293 non-null   float64
 16  temperature        9293 non-null   float64
 17  snowfall_sum       9293 non-null   float64
 18  rain_sum           9293 non-null   float64
dtypes: float64(8), int64(7), object(4)
memory usage: 1.3+ MB

In [12]:
data.isnull().sum()

Unnamed: 0.1          0
date                  0
weekday               0
is_festival           0
guests                0
sales                 0
assigned_staff        0
total_staff_level     0
staff_count           0
sale_per_guest        0
staff_per_guest       0
level_per_staff       0
month                 0
season                0
Unnamed: 0           10
weather_code         10
temperature          10
snowfall_sum         10
rain_sum             10
dtype: int64

In [13]:
corr = data.corr(numeric_only=True)
display(corr)

,Unnamed: 0.1,is_festival,guests,sales,total_staff_level,staff_count,sale_per_guest,staff_per_guest,level_per_staff,month,Unnamed: 0,weather_code,temperature,snowfall_sum,rain_sum
Unnamed: 0.1,1.000000,0.001565,-0.002897,-0.002898,-0.002780,-0.001111,-0.001529,0.006710,-0.006396,0.009928,-0.431511,0.030483,0.057281,0.004648,0.017740
is_festival,0.001565,1.000000,0.209266,0.209288,0.208359,0.205227,0.012134,-0.020968,0.032032,-0.003218,-0.001202,-0.023560,-0.006887,-0.003877,-0.017143
guests,-0.002897,0.209266,1.000000,1.000000,0.998253,0.958271,-0.004955,-0.122556,0.197004,-0.002072,0.000151,-0.003370,0.001510,-0.003390,0.001181
sales,-0.002898,0.209288,1.000000,1.000000,0.998253,0.958269,-0.004103,-0.122563,0.197013,-0.002063,0.000161,-0.003360,0.001530,-0.003399,0.001181
total_staff_level,-0.002780,0.208359,0.998253,0.998253,1.000000,0.960750,-0.004553,-0.108671,0.195254,-0.002740,0.000734,-0.003193,0.001010,-0.002981,0.000664
staff_count,-0.001111,0.205227,0.958271,0.958269,0.960750,1.000000,-0.007073,0.156460,-0.077224,-0.005381,-0.000464,-0.005602,0.002125,0.000661,-0.000012
sale_per_guest,-0.001529,0.012134,-0.004955,-0.004103,-0.004553,-0.007073,1.000000,-0.008676,0.010144,0.010549,0.010756,0.009471,0.023675,-0.007386,-0.004236
staff_per_guest,0.006710,-0.020968,-0.122556,-0.122563,-0.108671,0.156460,-0.008676,1.000000,-0.968907,-0.011675,-0.001326,-0.011152,0.004266,0.012269,-0.005206
level_per_staff,-0.006396,0.032032,0.197004,0.197013,0.195254,-0.077224,0.010144,-0.968907,1.000000,0.008561,0.003341,0.011583,-0.003848,-0.011390,0.003718
month,0.009928,-0.003218,-0.002072,-0.002063,-0.002740,-0.005381,0.010549,-0.011675,0.008561,1.000000,0.032517,0.028800,0.325592,-0.089064,0.056952
Unnamed: 0,-0.431511,-0.001202,0.000151,0.000161,0.000734,-0.000464,0.010756,-0.001326,0.003341,0.032517,1.000000,-0.002060,-0.000933,-0.022459,0.001181
weather_code,0.030483,-0.023560,-0.003370,-0.003360,-0.003193,-0.005602,0.009471,-0.011152,0.011583,0.028800,-0.002060,1.000000,0.241929,0.124721,0.448109
temperature,0.057281,-0.006887,0.001510,0.001530,0.001010,0.002125,0.023675,0.004266,-0.003848,0.325592,-0.000933,0.241929,1.000000,-0.119671,0.115792
snowfall_sum,0.004648,-0.003877,-0.003390,-0.003399,-0.002981,0.000661,-0.007386,0.012269,-0.011390,-0.089064,-0.022459,0.124721,-0.119671,1.000000,0.037957
rain_sum,0.017740,-0.017143,0.001181,0.001181,0.000664,-0.000012,-0.004236,-0.005206,0.003718,0.056952,0.001181,0.448109,0.115792,0.037957,1.000000

In [14]:
data.dropna(subset=["guests", "total_staff_level"], inplace=True)

In [15]:
from sklearn.model_selection import train_test_split

In [18]:
import seaborn as sns
import matplotlib.pyplot as plt


sns.pairplot(data[data["sales", "guests", "staff_level"]])
plt.show()


print(data[data["sales", "guests", "staff_level"]].corr())

KeyError: ('sales', 'guests', 'staff_level')