In [77]:
import pandas as pd
import numpy as np
from pulp import LpProblem, LpVariable, LpMaximize
from ortools.sat.python import cp_model
from pprint import pprint
from datetime import timedelta ,datetime

In [78]:
df = pd.read_csv("combined_data.csv")
staff_df = pd.read_csv("staff.csv")

In [79]:
df.head()

,date,hour,staff_id,name,level,status,predicted_sales,pred_sale_per_hour,max_cost,salary
0,2026-01-02,9,1,福田 美加子,3,part-time,205241,10262.05,2565,1350
1,2026-01-02,10,1,福田 美加子,3,part-time,205241,10262.05,2565,1350
2,2026-01-02,11,1,福田 美加子,3,part-time,205241,30786.15,7696,1350
3,2026-01-02,12,1,福田 美加子,3,part-time,205241,51310.25,12827,1350
4,2026-01-02,13,1,福田 美加子,3,part-time,205241,51310.25,12827,1350

In [80]:
staff_df.head(5)

   id    name  level         status
0   1  福田 美加子      3      part-time
1   2   山下 陽子      4      full-time
2   3    小林 浩      4      part-time
3   4  藤井 さゆり      4  international
4   5    近藤 稔      2  international

4
1 2026-01-02 12
1 2026-01-02 13
1 2026-01-02 14
1 2026-01-02 15
1 2026-01-02 21
1 2026-01-02 22
1 2026-01-04 12
1 2026-01-04 13
1 2026-01-04 21
1 2026-01-04 22
8 2026-01-03 20
8 2026-01-03 21
10 2026-01-07 9
10 2026-01-07 10
10 2026-01-07 15
10 2026-01-07 16
10 2026-01-05 12
10 2026-01-05 13
10 2026-01-05 14
10 2026-01-03 22
10 2026-01-03 23
16 2026-01-04 9
16 2026-01-04 14
16 2026-01-04 15
21 2026-01-06 15
21 2026-01-06 16
21 2026-01-06 21
21 2026-01-06 22
21 2026-01-06 23
21 2026-01-05 15
21 2026-01-05 16
21 2026-01-05 21
21 2026-01-05 22
28 2026-01-05 19
28 2026-01-05 20
28 2026-01-05 23
28 2026-01-05 24
28 2026-01-07 21
28 2026-01-07 22
28 2026-01-07 23
28 2026-01-02 18
28 2026-01-02 19
28 2026-01-02 20
28 2026-01-06 10
28 2026-01-06 11
28 2026-01-06 12
28 2026-01-06 17
28 2026-01-06 18
28 2026-01-03 14
28 2026-01-03 15
28 2026-01-03 16
28 2026-01-03 17
29 2026-01-06 9
29 2026-01-06 24
29 2026-01-03 9
29 2026-01-03 10
29 2026-01-02 9
29 2026-01-02 10
29 2026-01-02 11
29 2026-01-07 13
29 2026-01-07 14
29 2026-01-07 24
29 2026-01-04 16
29 2026-01-04 17
29 2026-01-04 18
29 2026-01-04 19
29 2026-01-04 20
29 2026-01-04 23
29 2026-01-04 24
35 2026-01-07 17
35 2026-01-07 18
35 2026-01-06 13
35 2026-01-06 14
35 2026-01-06 19
35 2026-01-06 20
35 2026-01-02 23
35 2026-01-02 24
35 2026-01-03 24
35 2026-01-05 9
35 2026-01-05 17
35 2026-01-05 18
37 2026-01-05 10
37 2026-01-05 11
37 2026-01-04 10
37 2026-01-04 11
37 2026-01-07 11
37 2026-01-07 12
37 2026-01-07 19
37 2026-01-07 20
37 2026-01-02 16
37 2026-01-02 17
37 2026-01-03 11
37 2026-01-03 12
37 2026-01-03 13
37 2026-01-03 18
37 2026-01-03 19
OPTIMAL（最適解）

4

1 2026-01-02 12
1 2026-01-02 13
1 2026-01-02 14
1 2026-01-02 15
1 2026-01-02 21
1 2026-01-02 22
1 2026-01-04 12
1 2026-01-04 13
1 2026-01-04 21
1 2026-01-04 22
8 2026-01-03 20
8 2026-01-03 21
10 2026-01-07 9
10 2026-01-07 10
10 2026-01-07 15
10 2026-01-07 16
10 2026-01-05 12
10 2026-01-05 13
10 2026-01-05 14
10 2026-01-03 22
10 2026-01-03 23
16 2026-01-04 9
16 2026-01-04 14
16 2026-01-04 15
21 2026-01-06 15
21 2026-01-06 16
21 2026-01-06 21
21 2026-01-06 22
21 2026-01-06 23
21 2026-01-05 15
21 2026-01-05 16
21 2026-01-05 21
21 2026-01-05 22
28 2026-01-05 19
28 2026-01-05 20
28 2026-01-05 23
28 2026-01-05 24
28 2026-01-07 21
28 2026-01-07 22
28 2026-01-07 23
28 2026-01-02 18
28 2026-01-02 19
28 2026-01-02 20
28 2026-01-06 10
28 2026-01-06 11
28 2026-01-06 12
28 2026-01-06 17
28 2026-01-06 18
28 2026-01-03 14
28 2026-01-03 15
28 2026-01-03 16
28 2026-01-03 17
29 2026-01-06 9
29 2026-01-06 24
29 2026-01-03 9
29 2026-01-03 10
29 2026-01-02 9
29 2026-01-02 10
29 2026-01-02 11
29 2026-01-07 13
29 2026-01-07 14
29 2026-01-07 24
29 2026-01-04 16
29 2026-01-04 17
29 2026-01-04 18
29 2026-01-04 19
29 2026-01-04 20
29 2026-01-04 23
29 2026-01-04 24
35 2026-01-07 17
35 2026-01-07 18
35 2026-01-06 13
35 2026-01-06 14
35 2026-01-06 19
35 2026-01-06 20
35 2026-01-02 23
35 2026-01-02 24
35 2026-01-03 24
35 2026-01-05 9
35 2026-01-05 17
35 2026-01-05 18
37 2026-01-05 10
37 2026-01-05 11
37 2026-01-04 10
37 2026-01-04 11
37 2026-01-07 11
37 2026-01-07 12
37 2026-01-07 19
37 2026-01-07 20
37 2026-01-02 16
37 2026-01-02 17
37 2026-01-03 11
37 2026-01-03 12
37 2026-01-03 13
37 2026-01-03 18
37 2026-01-03 19

OPTIMAL（最適解）