In [1]:
import pulp
import pandas as pd
from pulp import LpMaximize, LpProblem, LpVariable, LpBinary ,LpMinimize,value
import random
from datetime import datetime

In [2]:
df = pd.read_csv("../data/testing.csv")

df.head()
print(df.columns)

Index(['Unnamed: 0', 'ID', 'Name', 'Level', 'Gender', 'Age', 'Email', 'status',
       'date', 'morning', 'afternoon', 'night'],
      dtype='object')

In [3]:
#df['date'] = pd.to_datetime(df['date'])
staff_level = df["Level"].unique()
date = df["date"].unique()

In [4]:
shift_group = df.groupby("date").agg(list).reset_index()

In [5]:
shift_group.head(7)

,date,Unnamed: 0,ID,Name,Level,Gender,Age,Email,status,morning,afternoon,night
0,2025-07-01,"[0, 12, 18, 24, 35, 41, 48, 55, 62, 69, 76, 83...","[1001, 1003, 1004, 1005, 1007, 1008, 1009, 101...","[khh, yss, user1004, user1005, user1007, user1...","[3, 3, 1, 5, 4, 5, 5, 1, 2, 4, 5, 4, 5, 5, 3, ...","[Male, Male, Female, Female, Male, Male, Femal...","[24, 24, 28, 28, 21, 25, 30, 25, 22, 27, 30, 2...","[khh@gmail.com, yss@gmail.com, user1004@exampl...","[International Student, International Student,...","[True, False, True, True, True, False, False, ...","[True, False, True, False, False, True, True, ...","[False, True, True, True, False, True, False, ..."
1,2025-07-02,"[1, 6, 13, 19, 25, 30, 36, 42, 49, 56, 63, 70,...","[1001, 1002, 1003, 1004, 1005, 1006, 1007, 100...","[khh, kph, yss, user1004, user1005, user1006, ...","[3, 3, 3, 1, 5, 2, 4, 5, 5, 1, 2, 4, 5, 4, 5, ...","[Male, Female, Male, Female, Female, Male, Mal...","[24, 24, 24, 28, 28, 19, 21, 25, 30, 25, 22, 2...","[khh@gmail.com, kph, yss@gmail.com, user1004@e...","[International Student, International Student,...","[False, True, True, False, True, False, False,...","[True, True, False, True, True, True, True, Tr...","[True, True, True, False, True, True, True, Fa..."
2,2025-07-03,"[2, 7, 20, 26, 31, 43, 50, 57, 64, 71, 78, 85,...","[1001, 1002, 1004, 1005, 1006, 1008, 1009, 101...","[khh, kph, user1004, user1005, user1006, user1...","[3, 3, 1, 5, 2, 5, 5, 1, 2, 4, 5, 4, 5, 3, 5, 3]","[Male, Female, Female, Female, Male, Male, Fem...","[24, 24, 28, 28, 19, 25, 30, 25, 22, 27, 30, 2...","[khh@gmail.com, kph, user1004@example.com, use...","[International Student, International Student,...","[True, True, True, True, True, True, True, Fal...","[True, True, True, False, True, False, False, ...","[True, True, False, True, False, False, False,..."
3,2025-07-04,"[3, 8, 14, 21, 27, 37, 44, 51, 58, 65, 72, 79,...","[1001, 1002, 1003, 1004, 1005, 1007, 1008, 100...","[khh, kph, yss, user1004, user1005, user1007, ...","[3, 3, 3, 1, 5, 4, 5, 5, 1, 2, 4, 5, 4, 5, 5, ...","[Male, Female, Male, Female, Female, Male, Mal...","[24, 24, 24, 28, 28, 21, 25, 30, 25, 22, 27, 3...","[khh@gmail.com, kph, yss@gmail.com, user1004@e...","[International Student, International Student,...","[False, True, True, True, False, False, False,...","[True, True, False, True, True, False, True, T...","[False, False, True, True, False, True, False,..."
4,2025-07-05,"[4, 9, 15, 22, 32, 38, 45, 52, 59, 66, 73, 80,...","[1001, 1002, 1003, 1004, 1006, 1007, 1008, 100...","[khh, kph, yss, user1004, user1006, user1007, ...","[3, 3, 3, 1, 2, 4, 5, 5, 1, 2, 4, 5, 5, 5, 5, ...","[Male, Female, Male, Female, Male, Male, Male,...","[24, 24, 24, 28, 19, 21, 25, 30, 25, 22, 27, 3...","[khh@gmail.com, kph, yss@gmail.com, user1004@e...","[International Student, International Student,...","[False, False, False, False, True, True, False...","[True, True, True, True, True, False, True, Tr...","[True, True, False, False, False, False, False..."
5,2025-07-06,"[5, 10, 16, 23, 28, 33, 39, 46, 53, 60, 67, 74...","[1001, 1002, 1003, 1004, 1005, 1006, 1007, 100...","[khh, kph, yss, user1004, user1005, user1006, ...","[3, 3, 3, 1, 5, 2, 4, 5, 5, 1, 2, 4, 5, 4, 5, ...","[Male, Female, Male, Female, Female, Male, Mal...","[24, 24, 24, 28, 28, 19, 21, 25, 30, 25, 22, 2...","[khh@gmail.com, kph, yss@gmail.com, user1004@e...","[International Student, International Student,...","[True, False, False, True, True, True, True, F...","[True, False, True, False, False, True, True, ...","[True, True, False, False, False, False, True,..."
6,2025-07-07,"[11, 17, 29, 34, 40, 47, 54, 61, 68, 75, 82, 8...","[1002, 1003, 1005, 1006, 1007, 1008, 1009, 101...","[kph, yss, user1005, user1006, user1007, user1...","[3, 3, 5, 2, 4, 5, 5, 1, 2, 4, 5, 4, 5, 5, 5, ...","[Female, Male, Female, Male, Male, Male, Femal...","[24, 24, 28, 19, 21, 25, 30, 25, 22, 27, 30, 2...","[kph, yss@gmail.com, user1005@example.com, use...","[International Student, International Student,...","[True, True, False, False, False, True, True, ...","[True, False, True, True, False, True, True, F...","[True, False, False, True, True, True, True, T..."

In [16]:
from pulp import LpProblem, LpVariable, LpMinimize, lpSum

model = LpProblem("Shift_creator", LpMinimize)
pred = [
    [10]*16,
    [12]*16,
    [14]*16,
    [15]*16,
    [16]*16,
    [18]*16,
    [20]*16
]
model += lpSum(variable.values())  # 全スタッフの勤務時間数（1時間ごとの割当）

time_map = {
    "morning": list(range(9, 13)),
    "afternoon": list(range(13, 18)),
    "night": list(range(18, 25))
}

variable = {}

for _, row in shift_group.iterrows():
    date = row["date"]
    ids = row["ID"]
    
    for i, staff_id in enumerate(ids):
        for shift_name, hours in time_map.items():
            if row[shift_name][i]:  
                for hour in hours:
                    var_name = f"x_{staff_id}_{date}_{hour}"
                    variable[var_name] = LpVariable(var_name, cat='Binary')

In [17]:
for shift_i, row in shift_group.iterrows():
    date = row["date"]
    ids = row["ID"]
    levels = row["Level"]
    pred_levels = pred[shift_i]

    for hour in range(9, 25):
        level_sum = []
        for staff_i, staff_id in enumerate(ids):
            var_name = f"x_{staff_id}_{date}_{hour}"
            if var_name in variable:
                staff_level = levels[staff_i]
                level_sum.append(staff_level * variable[var_name])

        required_level = pred_levels[hour - 9]
        model += lpSum(level_sum) >= required_level, f"level_requirement_{date}_{hour}"

In [18]:
from collections import defaultdict

staff_hour_vars = defaultdict(list)

for _, row in shift_group.iterrows():
    date = row["date"]
    ids = row["ID"]
    statuses = row["status"]
    
    for i, staff_id in enumerate(ids):
        if "留学生" in statuses[i] or "International Student" in statuses[i]:
            for hour in range(9, 25):
                var_name = f"x_{staff_id}_{date}_{hour}"
                if var_name in variable:
                    staff_hour_vars[staff_id].append(variable[var_name])

for staff_id, hour_vars in staff_hour_vars.items():
    model += lpSum(hour_vars) <= 28, f"max_hours_international_{staff_id}"

In [19]:
for _, row in shift_group.iterrows():
    date = row["date"]
    ids = row["ID"]
    statuses = row["status"]
    
    for i, staff_id in enumerate(ids):
        status = statuses[i]
        
        if "高校生" in status or "Highschool" or row["Age"][i] <= 18 in status:
            for hour in range(22, 25):
                var_name = f"x_{staff_id}_{date}_{hour}"
                if var_name in variable:
                    model += variable[var_name] == 0, f"highschool_ban_{staff_id}_{date}_{hour}"

In [28]:
from pulp import PULP_CBC_CMD
model.solve(PULP_CBC_CMD(msg=False))
import pandas as pd

results = []

for var_name, var in variable.items():
    if var.value() == 1:
        _, staff_id, date, hour = var_name.split("_")
        results.append({
            "staff_id": staff_id,
            "date": date,
            "hour": int(hour)
        })

PulpSolverError: Pulp: Error while executing /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pulp/apis/../solverdir/cbc/osx/i64/cbc

In [24]:
for _, row in shift_group.iterrows():
    date = row["date"]
    ids = row["ID"]

    for i, staff_id in enumerate(ids):
        for hour in range(9, 23):
            h1 = f"x_{staff_id}_{date}_{hour}"
            h2 = f"x_{staff_id}_{date}_{hour + 1}"
            h3 = f"x_{staff_id}_{date}_{hour + 2}"

            if all(h in variable for h in [h1, h2, h3]):
                model += variable[h1] + variable[h2] + variable[h3] >= 3 * variable[h1], \
                         f"consecutive_{staff_id}_{date}_{hour}"

In [25]:
for _, row in shift_group.iterrows():
    date = row["date"]
    ids = row["ID"]
    
    for i, staff_id in enumerate(ids):
        hour_vars = []
        
        for hour in range(9, 25):
            var_name = f"x_{staff_id}_{date}_{hour}"
            if var_name in variable:
                hour_vars.append(variable[var_name])
        
        if len(hour_vars) >= 6:
            model += lpSum(hour_vars) <= 5 + (1 - lpSum([1 if h in variable else 0 for h in [
                f"x_{staff_id}_{date}_{h}" for h in range(9, 25)
            ]])) * 100, f"break_after_6h_{staff_id}_{date}"

In [26]:
for _, row in shift_group.iterrows():
    date = row["date"]
    ids = row["ID"]

    for i, staff_id in enumerate(ids):
        for start in range(9, 20):
            block_hours = list(range(start, start + 6))
            block_vars = []

            for hour in block_hours:
                var_name = f"x_{staff_id}_{date}_{hour}"
                if var_name in variable:
                    block_vars.append(variable[var_name])

            if len(block_vars) == 6:
                model += lpSum(block_vars) <= 5, f"rest_required_{staff_id}_{date}_{start}"

In [27]:
results_df = pd.DataFrame(results)
display(results_df)

    staff_id        date  hour
0       1001  2025-07-01    14
1       1001  2025-07-01    15
2       1001  2025-07-01    16
3       1001  2025-07-01    17
4       1003  2025-07-01    19
..       ...         ...   ...
334     1014  2025-07-07    18
335     1016  2025-07-07    16
336     1019  2025-07-07     9
337     1019  2025-07-07    18
338     1020  2025-07-07    17

[339 rows x 3 columns]

In [9]:
import pandas as pd

# データ読み込み
data = pd.read_csv("../data/_________.csv")
level = pd.read_csv("../data/__________20_____.csv")

# IDごとのLevelを取得（Seriesになる）
staff_level = level.groupby("ID")["Level"].first()  # .unique() より .first() の方が実用的なことが多い

records = []

for _, row in data.iterrows():
    for shift in ["morning", "afternoon", "night"]:
        records.append({
            "staff_id": row["staff_id"],
            "date": row["date"],
            "shift_type": shift,
            "preferred": row[shift],
            "staff_level": staff_level.get(row["staff_id"], None)  # ← ID に対応する Level を取得
        })

# DataFrame 作成
normalized_df = pd.DataFrame(records)

# CSV出力
normalized_df.to_csv("../data/normalized_shift_preferences.csv", index_label="id")