In [59]:
import pulp
import pandas as pd
from pulp import LpMaximize, LpProblem, LpVariable

In [76]:
df = pd.read_csv("../data/shift_dataBase_testing.csv")
pred = [10,15,25,10,12,14,10,14,15,20,10,15,10,12]
df.head()

df["date"] = pd.to_datetime(df["date"], format='%Y-%m-%d')

df = df.sort_values(by="date")

In [77]:
staff = df["name"].unique().tolist()
dates = df["date"].unique()
display(dates)

<DatetimeArray>
['2025-07-01 00:00:00', '2025-07-02 00:00:00', '2025-07-03 00:00:00',
 '2025-07-04 00:00:00', '2025-07-05 00:00:00', '2025-07-06 00:00:00',
 '2025-07-07 00:00:00', '2025-07-08 00:00:00', '2025-07-09 00:00:00',
 '2025-07-10 00:00:00', '2025-07-11 00:00:00', '2025-07-12 00:00:00',
 '2025-07-13 00:00:00', '2025-07-14 00:00:00', '2025-07-15 00:00:00',
 '2025-07-16 00:00:00', '2025-07-17 00:00:00', '2025-07-18 00:00:00',
 '2025-07-19 00:00:00', '2025-07-20 00:00:00', '2025-07-21 00:00:00',
 '2025-07-22 00:00:00', '2025-07-23 00:00:00', '2025-07-24 00:00:00',
 '2025-07-25 00:00:00', '2025-07-26 00:00:00', '2025-07-27 00:00:00',
 '2025-07-28 00:00:00', '2025-07-29 00:00:00', '2025-07-30 00:00:00',
 '2025-07-31 00:00:00']
Length: 31, dtype: datetime64[ns]

In [63]:
try:
    df[["morning", "afternoon", "night"]] = df[["morning", "afternoon", "night"]].applymap(lambda x: 1 if x == True else 0)
except Exception as e:
    print(e)

/var/folders/23/dxqwsqmd1w3g02ljvb96m6fm0000gn/T/ipykernel_59868/2921775681.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[["morning", "afternoon", "night"]] = df[["morning", "afternoon", "night"]].applymap(lambda x: 1 if x == True else 0)

In [64]:
df.head()

   staff_id            name       date  morning  afternoon  night
0      1001  Yan Shin Shein 2025-07-07        0          1      1
1      1001  Yan Shin Shein 2025-07-11        0          1      1
2      1001  Yan Shin Shein 2025-07-12        1          1      0
3      1001  Yan Shin Shein 2025-07-16        1          0      1
4      1001  Yan Shin Shein 2025-07-18        0          1      1