In [58]:
import pandas as pd
import numpy as np
from pulp import LpProblem, LpVariable, LpMaximize
from ortools.sat.python import cp_model
from pprint import pprint
from datetime import timedelta,datetime

In [59]:
df = pd.read_csv("combined_data.csv")
staff_df = pd.read_csv("staff.csv")

In [60]:
df.head()

,date,hour,staff_id,name,level,status,predicted_sales,pred_sale_per_hour,max_cost,salary
0,2026-01-02,9,1,ç¦ç”° ç¾åŠ å­,3,part-time,205241,10262.05,2565,1350
1,2026-01-02,10,1,ç¦ç”° ç¾åŠ å­,3,part-time,205241,10262.05,2565,1350
2,2026-01-02,11,1,ç¦ç”° ç¾åŠ å­,3,part-time,205241,30786.15,7696,1350
3,2026-01-02,12,1,ç¦ç”° ç¾åŠ å­,3,part-time,205241,51310.25,12827,1350
4,2026-01-02,13,1,ç¦ç”° ç¾åŠ å­,3,part-time,205241,51310.25,12827,1350

In [61]:
staff_df.head(5)

   id    name  level         status
0   1  ç¦ç”° ç¾åŠ å­      3      part-time
1   2   å±±ä¸‹ é™½å­      4      full-time
2   3    å°æ— æµ©      4      part-time
3   4  è—¤äº• ã•ã‚†ã‚Š      4  international
4   5    è¿‘è—¤ ç¨”      2  international

In [62]:
model = cp_model.CpModel()
"""
data_set ã‹ã‚‰ .groupã‚’ä½¿ã†ã“ã¨ã§ç‰¹å®šã®column ã‚’keys 
ã§ã€€ãã®ç‰¹å®šã®index ã‚’values ã¨ã—ã¦å–å¾—ã—ã¾ã™ã€‚
.key()ã¯é€šå¸¸ã®python ã®dictã‹ã‚‰keyã ã‘ã‚’å–ã‚Šã¾ã™
"""
time_strip = list(df.groupby(["date", "hour"]).groups.keys())
"var å®šç¾©"
work = {}
for _, row in df.iterrows():
    s = row["staff_id"]
    d = row["date"]
    h = row["hour"]
    work[s, d, h] = model.NewBoolVar(f"work_{s}_{d}_{h}")
cost = {}
max_cost = {}
pred_sales = {}
for _, row in df.iterrows():
        s = row['staff_id']
        d = row['date']
        h = row['hour']
    
        cost[s, d, h] = row['salary']        # 1æ™‚é–“ã‚ãŸã‚Šã®ã‚³ã‚¹ãƒˆ
        max_cost[d, h] = row['max_cost']    # æ™‚é–“å¸¯ã”ã¨ã®æœ€å¤§äººä»¶è²»
        pred_sales[d, h] = row['pred_sale_per_hour']  # 

for d, h in max_cost:
    model.Add(
        sum(
            cost[s, d, h] * w
            for (s, dd, hh), w in work.items()
            if dd == d and hh == h
        ) <= max_cost[d, h]
    )

has_regular = {}

regular_staff = [
    row["id"]
    for _, row in staff_df.iterrows()
    if row["level"] in [3, 4]
]

manager_staff = [
    row["id"]
    for _, row in staff_df.iterrows()
    if row["level"] == 5
]

for date, hour in time_strip:
    has_regular[date, hour] = model.NewBoolVar(
        f"has_regular_{date}_{hour}"
    )

    # Lv3 or Lv4 ãŒ1äººä»¥ä¸Šã„ã‚‹
    model.Add(
        sum(
            w
            for (s, d, h), w in work.items()
            if d == date and h == hour and s in regular_staff
        ) >= 1
    ).OnlyEnforceIf(has_regular[date, hour])

    # Lv3 or Lv4 ãŒ0äºº
    model.Add(
        sum(
            w
            for (s, d, h), w in work.items()
            if d == date and h == hour and s in regular_staff
        ) == 0
    ).OnlyEnforceIf(has_regular[date, hour].Not())

    # ğŸ”¥ Lv3/4 ãŒã„ãªã‘ã‚Œã° Lv5ï¼ˆmanagerï¼‰ã‚’å¿…ãšå…¥ã‚Œã‚‹
    model.Add(
        sum(
            w
            for (s, d, h), w in work.items()
            if d == date and h == hour and s in manager_staff
        ) >= 1
    ).OnlyEnforceIf(has_regular[date, hour].Not())

In [63]:
for (s, d, h), w in work.items():
    if h <= 9:
        continue  

    prev_exists = (s, d, h-1) in work
    next_exists = (s, d, h+1) in work

    if prev_exists and next_exists:
        model.Add(
            w <= work[s, d, h-1] + work[s, d, h+1]
        )

In [64]:
hours = sorted(df["hour"].unique())

for s in df["staff_id"].unique():
    for d in df["date"].unique():
        for i in range(len(hours) - 6):
            window = hours[i:i+7]

            # å…¨éƒ¨å­˜åœ¨ã™ã‚‹ hour ã ã‘ã«é™å®š
            if all((s, d, h) in work for h in window):
                model.Add(
                    sum(work[s, d, h] for h in window) <= 6
                )

In [66]:
international_staff = [
    row["id"]
    for _, row in staff_df.iterrows()
    if row["status"] == "international"
]

dates = sorted(df["date"].unique())

for s in international_staff:
    for i in range(len(dates)):
        start = dates[i]
        start = datetime.strptime(start, "%Y-%m-%d")
        end = start + timedelta(days=6)

        model.Add(
            sum(
                w
                for (ss, d, h), w in work.items()
                if ss == s and start <= d <= end
            ) <= 28
        )

TypeError: can only concatenate str (not "datetime.timedelta") to str